# see all config (https://pinterest.github.io/ktlint/) standard
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
ktlint_code_style = ktlint_official
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999

[*.{yml,yaml}]
indent_size = 2
