|===
|Parameter|Description|필수값

{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}Y{{/optional}}{{/tableCellContent}}

{{/parameters}}

|===